<!DOCTYPE html>
<html>
<head>
    <title>Turnos para Gerencia</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/admin.css' %}">
</head>
<body>
    <h1>Gestión de Turnos para Gerencia</h1>
    
    <form method="post">
        {% csrf_token %}
        <button type="submit">Asignar Siguiente Turno</button>
    </form>

    <h2>Turnos en espera:</h2>
    <ul>
        {% for turno in turnos %}
            <li>{{ turno.turno }} - {{ turno.cedula }}</li>
        {% endfor %}
    </ul>

    <img src="{% static 'images/rombos2.png' %}" alt="Figura" class="rombos2">
    <img src="{% static 'images/rombos5.png' %}" alt="Figura" class="rombos5">
</body>
</html>
