<!DOCTYPE html>
<html>
<head>
    <title>Turnos Actuales y Pasados</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/turnos.css' %}">
</head>
<body>
    <h1>Bancos X</h1>
    <div class="container">
        <div class="history">
            <h3>Últimos Turnos</h3>
            <table>
                <thead>
                    <tr>
                        <th>Turno</th>
                        <th>Atendido en</th>
                    </tr>
                </thead>
                <tbody>
                    {% for turno in turnos_pasados %}
                    <tr>
                        <td>{{ turno.turno }}</td>
                        <td>
                            {% if turno.caja == "caja_1" %}
                                Caja 1
                            {% elif turno.caja == "caja_2" %}
                                Caja 2
                            {% elif turno.caja == "caja_3" %}
                                Caja 3
                            {% elif turno.caja == "caja_4" %}
                                Caja 4
                            {% elif turno.caja == "caja_5" %}
                                Caja 5
                            {% elif turno.caja == "gerencia" %}
                                Gerencia
                            {% elif turno.caja == "modulo_1" %}
                                Modulo 1
                            {% elif turno.caja == "modulo_2" %}
                                Modulo 2
                            {% elif turno.caja == "modulo_3" %}
                                Modulo 3
                            {% elif turno.caja == "modulo_4" %}
                                Modulo 4
                            {% elif turno.caja == "modulo_5" %}
                                Modulo 5
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="current-turn">
            <h2 class="actual">Turno Actual</h2>
            <p class="num_turno">{{ turno_actual.turno }}</p>
            <p class="modulo">Atendiendo en 
                {% if turno_actual.caja == "caja_1" %}
                    Caja 1
                {% elif turno_actual.caja == "caja_2" %}
                    Caja 2
                {% elif turno_actual.caja == "caja_3" %}
                    Caja 3
                {% elif turno_actual.caja == "caja_4" %}
                    Caja 4
                {% elif turno_actual.caja == "caja_5" %}
                    Caja 5
                {% elif turno_actual.caja == "gerencia" %}
                    Gerencia
                {% elif turno_actual.caja == "modulo_1" %}
                    Modulo 1
                {% elif turno_actual.caja == "modulo_2" %}
                    Modulo 2
                {% elif turno_actual.caja == "modulo_3" %}
                    Modulo 3
                {% elif turno_actual.caja == "modulo_4" %}
                    Modulo 4
                {% elif turno_actual.caja == "modulo_5" %}
                    Modulo 5
                {% endif %}
            </p>
        </div>
    </div>

    <img src="{% static 'images/rombos.png' %}" alt="Figura" class="rombos1">
</body>
</html>
